/* Card glow effect */
.group:hover {
  box-shadow:
    0 0 10px #ff00ff,
    0 0 20px #ff00ff55;
}
/* Neon Text Glow */
.neon-text {
  color: #9bf3f3;
  text-shadow:
    0 0 5px #00d5ff,
    0 0 10px #00d5ff,
    0 0 20px #00d5ff,
    0 0 40px #00d5ff;
}
.cyber-clean {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #9ff1f1;

  text-shadow:
  0 0 5px #00d5ff,
  0 0 10px #00d5ff,
  0 0 20px #00d5ff,
  0 0 40px #00d5ff;
}

/* Card */
.cyber-card {
  background: rgba(10, 10, 20, 0.8);
  border: 1px solid #00ffff55;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow:
    0 0 10px #00ffff33,
    inset 0 0 10px #ff00ff22;
}

/* Inputs */
.cyber-input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #00ffff88;
  border-radius: 8px;
  outline: none;
  color: white;
}

.cyber-input:focus {
  border-color: #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
}

/* Button */
.cyber-button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #ff00ff, #00ffff);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.3s;
}

.cyber-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00ffff;
}